<div class="container Poppins">
    <div>
      <img src='assets/images/home-image.png' class="img-thumbnail" alt="home image">
    </div>
</div>
<div class="container mt-2 col-md-12 py-5 ">
    <div class="row">
      <div class="col-sm text-center">
       <h5>Ocean Freight</h5>
       <img src='assets/images/ocean-freight.jpg' class="img-thumbnail image" alt="ocean image">
      </div>
      <div class="col-sm text-center">
        <h5>Air Freight</h5>
        <img src='assets/images/air-freight.jpg' class="img-thumbnail image" alt="Air image">
    </div>
      <div class="col-sm text-center">
        <h5>Road Freight</h5>
        <img src='assets/images/road-freight.jpg' class="img-thumbnail image" alt="road image">
      </div>
      <div class="col-sm text-center">
        <h5>Warehouse</h5>
        <img src='assets/images/warehouse.jpg' class="img-thumbnail image" alt="warehouse image">
      </div>
      <div class="col-sm text-center">
        <h5>Logistics</h5>
        <img src='assets/images/logistics.jpg' class="img-thumbnail image" alt="logistics image">
      </div>
    </div> 
  </div>
  <div class="container">
     <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-8 mx-auto p-5">
            <div class="search"> <i class="fa fa-search"></i> 
             <input type="text" class="form-control" placeholder="Enter Your Tracking Number Here ..."> 
              <button class="btn btn-warning " [routerLink]="['/tracking']">Track</button> </div>
        </div>
      </div>
  </div>
  <main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center ">
      <div class="col" >
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h6 class="my-0 fw-normal">TRANSPORTATION SERVICES </h6>
          </div>
          <div class="card-body">
             <p>Learm more about our shipping services
              Regardless of your industry, your commodity,
              or your key markets, DADEM Logistics has solutions <br> <br>
              DADEM Logistics provides fast pickup, delivery services
              and secure transportation for high-value goods </p>
             
            <button class=" btn btn-warning rounded-pill" [routerLink]="['/schedule']">Request a pick up</button>
            
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h6 class="my-0 fw-normal">FREQUENTLY ASKED QUESTIONS</h6>
          </div>
          <div class="card-body">
              <p> <b>What do you ship?</b> <br /> 
                We ship your household items, a car, boxes, a truck or heavy equipment etc... </p>
              <p><b>From where to where you handle the shipments?</b><br>
              We handle the shipments from the USA to any country in Africa </p>
            <button type="button" class="btn btn-warning rounded-pill" [routerLink]="['/faq']">Q & A ...</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h6 class="my-0 fw-normal">OUR PRICING LIST</h6>
          </div>
          <div class="card-body">
            <h6 class="card-title pricing-card-title">Shipping from USA to Africa </h6>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">NO</th>
                  <th scope="col">Items</th>
                  <th scope="col">Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>50LB Bag of Rice</td>
                  <td>$45</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>King Mattresse</td>
                  <td>$250</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>barrels 55 gallons</td>
                  <td>$310</td>
                </tr>
              </tbody>
            </table>
            <button type="button" class="btn btn-warning rounded-pill" [routerLink]="['/our-pricing-list']">More details...</button>
          </div>
        </div>
      </div>
    </div>
  </main>


<div class="row mb-1" >
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">CMA-CGM</h5>
        <p class="card-text">CMA CGM and DADEM Logistics: a strategic partnership towards more sustainable shipping and logistics</p>
        <img src='assets/images/cma-cgm-logo.jpg' width="150" height="100"  class="img-thumbnail image"
        alt="cma logo">
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">MAERSK</h5>
        <p class="card-text">DADEM Logistics has establised a long-term partnership with MAERSK</p>
        <img src='assets/images/maersk-logo.jpg' class="img-thumbnail image" width="150" height="100"
        alt="maersk logo">
      </div>
    </div>
  </div>
</div>
    

       



