/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}

.cart-item {
  font-size: small;
}

.filters {
  font-size: small;
}

.card, .form-control, .btn {
  border-radius: 0;
}

.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.list-group-item:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.product-btn {
  font-size: smaller;
}
.fa-heart{
  color:palevioletred;
  cursor: pointer;
}