<div CLASS="container">
<div class="row">
    <div class="col">
        <footer class="row row-cols-5 py-3 my-1">
            <div class="col">
                <h5>Connect With Us</h5>
                <ul class="nav flex-column">
                    <li><i class="bi bi-facebook"></i></li>
                    <li class="text-muted"><a href="https://www.facebook.com/DademLogistics" target="_blank"> Facebook</a></li>
                    <li class="text-muted"><a href="#" target="_blank">Instagram</a></li>
                    <li class="text-muted"><a [routerLink]="['/contact-us']">Contact Us</a></li>
                </ul>
            </div>
            <div class="col"></div>
            <div class="col">
                <h5>This site</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a [routerLink]="['/tracking']" class="nav-link p-0 text-muted">Tracking</a></li>
                    <li class="nav-item mb-2"><a [routerLink]="['/shipping']" class="nav-link p-0 text-muted">Shipping</a></li>
                    <li class="nav-item mb-2"><a [routerLink]="['/shipping']" class="nav-link p-0 text-muted">Price</a></li>
                </ul>
            </div>
            <div class="col"></div>
            <div class="col">
                <h5>About Us</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a [routerLink]="['/what-we-do']" class="nav-link p-0 text-muted">What We Do</a>
                    </li>
                    <li class="nav-item mb-2"><a [routerLink]="['/who-we-are']" class="nav-link p-0 text-muted">Who We Are</a>
                    </li>
                </ul>
            </div>
        </footer>
        <hr>
        <small>Copyright &copy; 2022 DADEM COMPANY, LLC - All rights reserved</small>
    </div>
  </div>
</div>
  
